.basket-table {
	width: 100%;
	@include md() {
		text-align: center;
	}
	thead {
		border-bottom: 1px solid #e4f0f7;
	}
	tr {
		&:last-child {
			td {
				padding-top: (30 / 16) + rem;
				padding-bottom: 0;
				&:after {
					display: none;
				}
			}
		}
		@include mmd() {
			position: relative;
		}
	}
	th {
		padding: (19 / 16) + rem 15px (18 / 16) + rem;
		font-size: (20 / 16) + rem;
		color: #7e8b8f;
		line-height: 1.2;
		@include md() {
			padding-left: 10px;
			padding-right: 10px;
		}
		&:first-child {
			@include md() {
				text-align: left;
				padding-left: (40 / 16) + rem;
			}
		}
		&:last-child {
			@include md() {
				text-align: left;
				padding-right: (40 / 16) + rem;
			}
		}
	}
	td {
		position: relative;
		padding: (15 / 16) + rem 15px;
		font-size: (18 / 16) + rem;
		color: #000;
		line-height: 1.2;
		@include md() {
			padding-left: 10px;
			padding-right: 10px;
		}
		&:first-child {
			@include md() {
				text-align: left;
				padding-left: (40 / 16) + rem;
				&:after {
					left: (25 / 16) + rem;
				}
			}
			@include mmd() {
				padding-right: 45px;
			}
		}
		&:last-child {
			@include md() {
				padding-right: (40 / 16) + rem;
				&:after {
					left: auto;
					right: (25 / 16) + rem;
				}
			}
			@include mmd() {
				position: absolute;
				top: 0;
				right: 0;
				&:before {
					display: none;
				}
			}
		}
		&:after {
			content: '';

			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			border-bottom: 1px solid #e4f0f7;
		}
		&:before {
			content: attr(data-th) ': ';
			position: relative;
			top: -1px;
			display: inline-block;
			vertical-align: middle;
			font-weight: 500;
			// margin: 5px 5px 5px 0;
			margin-right: 5px;
			@include md() {
				display: none;
			}
		}
	}
	@include mmd() {
		display: block;
		background-color: #f1f5f6;
		thead {
			display: none;
		}
		tbody, tr, td, th {
			display: block;
		}
		tr {
			background-color: #fff;
			margin-bottom: 15px;
			&:last-child {
				td {
					padding-top: 0;
					&:before {
						display: none;
					}
				}
			}
		}
		td {
		}
	}
	&_style_two {
		// padding-bottom: 10px;
		tr {
			&:first-child {

				@include mmd() {
					position: relative;
					&:before {
						content: '';
						position: absolute;
						bottom: 100%;
						left: 0;
						width: 100%;
						background-color: #f1f5f6;
						height: 15px;
					}
				}
			}
			&:last-child {
				td {
					padding-top: (15 / 16) + rem;
					padding-bottom: (25 / 16) + rem;
					@include mmd() {
						padding-top: (15 / 16) + rem;
						padding-bottom: (15 / 16) + rem;
					}
					&:before {
						@include mmd() {
							display: inline-block;
						}
					}
				}
			}
		}
	}
}

.basket-table__total {
	font-size: (24 / 16) + rem;
	color: #000;
	font-weight: 700;
	line-height: 1.2;
	@include mmd() {
		padding-top: 20px;
	}
}
.basket-table__total-price {
	font-size: 2rem;
	line-height: 1.2;
	color: #000;
	font-weight: 700;
	@include md() {
		text-align: right;
	}
}

.basket-table__quantity {
	@include mmd() {
		padding-top: 5px;
	}
}

.basket-table__del {
	background-color: transparent;
	padding: 0;
	border: none;
}