.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;

	list-style: none;
	li {
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
		color: #798c90;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: -3px;
			transform: translate(0, -50%);
			display: inline-block;
			vertical-align: middle;
			font-size: 20px;

			width: 7px;
			height: 12px;

			background-image: url('../images/right-arrow-angle.svg');
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 7px 12px;
		}
		a {
			text-decoration: underline;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}