.button-clr {
	background-color: transparent;
	border: none;
	padding: 0;
}
.button {
	display: inline-block;
	vertical-align: top;
	padding: (7 / 16) + rem (25 / 16) + rem (6 / 16) + rem;

	font-size: (14 / 16) + rem;
	line-height: 1;
	color: #7e8b8f;
	text-align: center;

	background-color: transparent;
	border: 1px solid rgba(#c4cbcd, 1);
	border-radius: 5px;
	transition: linear .1s;
	&:hover, &:focus {
		text-decoration: none;
		transform: scale(.95, .95);
	}
	&_red {
		color: #f31563;
		border-color: #f31563;
		font-size: 1rem;
		padding: (10 / 16) + rem (25 / 16) + rem (10 / 16) + rem;
		border-width: 2px;
		&:hover, &:focus {
			background-color: #f31563;
			color: #fff;
		}
	}
	&_style_red {
		border-color: #f31563;
		font-size: 1rem;
		padding: (21 / 16) + rem (25 / 16) + rem (20 / 16) + rem;

		background-color: #f31563;
		color: #fff;
		&:hover, &:focus {
			background-color: #f31563;
			color: #fff;
		}
	}
	&_small {
		padding: (12 / 16) + rem (25 / 16) + rem (12 / 16) + rem;
	}
	&_width_full {
		width: 100%;
	}
	&_border_style_two {
		border-width: 2px;
		border-radius: 15px;
	}
	&_hover_none {
		&:hover, &:focus {
			transform: none;
		}
	}
}

