.button-option {
	display: inline-block;
	vertical-align: middle;
	&:hover, &:focus {
		text-decoration: none;
		.button-option__icon {
			border-color: #ffadcc;
			transform: scale(.85, .85);
		}
		.button_red {
			background-color: #f31563;
			color: #fff;
			transform: scale(.95, .95);
		}
	}
	& + .button-option {
		@include lg() {
			margin-left: (8 / 16) + rem;
		}
	}
}

.button-option__icon {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	width: (39 / 16) + rem;
	height: (39 / 16) + rem;
	border-radius: 5px;
	border: 1px solid transparent;
	background-color: #ffe3ee;
	transition: linear .1s;
	&_user {
		background-image: url('../images/user.png');
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
}
.button-option__svg {
	font-size: (14 / 16) + rem;
	color: #f31563;
}
.button-option__txt {
	color: #000;
	display: inline-block;
	vertical-align: middle;
	font-size: 1rem;
	margin-left: 3px;
}
.button-option__button {
	vertical-align: middle;
}

.button-option__username {
	font-size: 1rem;
	color: #000;
	display: inline-block;
	padding-left: 10px;
}