.goods-carousel {
	.owl-item {
		text-align: center;
		display: flex;
		flex-direction: column;
	}
	.owl-nav {
		[class*="owl-"] {
			font-size: (20 / 16) + rem !important;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: 1px solid #c4cbcd !important;
			margin-left: 15px;
			margin-right: 15px;

			color: #c4cbcd !important;

			width: 35px;
			height: 35px;

			border-radius: 50%;
			&:hover {
				background-color: transparent;
				color: #c4cbcd;
			}
		}
		.owl-next {
			.svg-icon {
				transform: rotate(180deg);
			}
		}
	}
	.owl-stage {
		display: flex;
	}
	.owl-item {

	}
	@include lg() {
		display: flex !important;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: -5px;
		margin-right: -5px;
		width: auto;
		.owl-item {
			text-align: left;
		}
	}
}
// .goods-carousel__column {
// 	text-align: center;
// 	flex: 1 1 auto;
// 	align-items: center;
// 	@include lg() {
// 		align-items: flex-start;
// 		flex: 0 1 auto;
// 		padding-left: 5px;
// 		padding-right: 5px;
// 	}
// }