.checkbox {
	position: relative;
	line-height: 1;
}
.checkbox__input {
	&:checked + .checkbox__pseudo-check {
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}
.checkbox__pseudo-check {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 12px;
	height: 12px;
	margin-right: 5px;

	border-radius: 2px;
	background-color: rgb(228, 240, 247);
	&:before {
		content: '';

		position: absolute;
		bottom: 3px;
		left: 3px;

		width: 13px;
		height: 11px;

		background-image: url('../images/check.png');
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;

		opacity: 0;
		visibility: hidden;

		transition: linear .2s;
	}
}
.checkbox__label {
	// position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0;

	font-size: 12px;
	color: #aaa;
	line-height: 1.2;
}
