.content-list {
	// color: #383d3e;
	list-style: none;
	padding: 0;
	li {
		position: relative;
		&:before {
			content: '';

			display: inline-block;
			vertical-align: middle;

			width: 5px;
			height: 5px;
			margin-right: 10px;

			background-color: #383d3e;
			border-radius: 50%;
		}
		a {
			color: #f31563;
		}
	}
}