.content {

}
h2 {
	font-weight: 700;
	color: #c4cbcd;
	font-size: (60 / 16) + rem;
	line-height: 1.2;
	@include mlg() {
		font-size: (50 / 16) + rem;
	}
	@include msm() {
		font-size: (40 / 16) + rem;
	}
}
h3 {
	font-size: (29 / 16) + rem;
	color: rgb(53, 52, 52);
	line-height: 1.2;
	margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
}

.ul-regular {
	list-style: none;
	li {
		position: relative;
		&:before {
			content: '-';
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
			// padding-top: 4px;
		}
	}
}