.content-description {
	// padding: (50 / 16) + rem 0;
	font-size: (18 / 16) + rem;
	line-height: 1.61;
	color: #000;
	text-align: center;
	// background-color: #f2f5f6;
	&_style_two {
		color: #c4cbcd;
		font-size: (19 / 16) + rem;
		padding: (77 / 16) + rem 0 0;
	}
	@include lg() {
		// padding: (90 / 16) + rem 0 (80 / 16) + rem;
	}
}