.course {
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;

	color: #FFFFFF;
}
.course__name {
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
}
.course__value {

}