.dropdown {
	position: relative;
	display: inline-block;
	&:hover {
		.nav-link {
			@include lg() {
				transform: translate(0, -5px);
			}
		}
		.dropdown__caret-angle {
			transform: rotate(-180deg);
		}
		.dropdown__menu {
			display: block;
			@include lg() {
				animation-name: zoomIn;
				animation-duration: .3s;
			}
			// margin-top: 5px;
			// margin-bottom: 5px;

			// opacity: 1;
			// visibility: visible;
			// transition: opacity ease .2s,
			// 			visibility ease .2s;
		}
	}
}
.dropdown__toggle {
	display: block;
	&:after {
		content: '';
	}
}
.dropdown__menu {
	display: none;
	padding: 10px 15px;
	list-style: none;
	margin: 0;

	border: 1px solid #E2E2E2;
	border-radius: 4px;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 111;

	background-color: #fff;
	&:before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, 0);

		border-bottom: 10px solid #E2E2E2;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 100%;
		margin-bottom: -1px;
		left: 50%;
		transform: translate(-50%, 0);

		border-bottom: 9px solid #fff;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
	}
	li {
		padding-left: 10px;
		padding-right: 10px;
		a {
			transition: linear .1s;
			padding: 0;
			display: block;

			color: #212528;
			font-size: 16px;
			line-height: 1.5625;
			font-weight: 500;
			&:hover {
				text-decoration: none;
				transform: translate(-10px, 0);
			}
		}
	}
}


.dropdown__caret-angle {
	margin-left: 15px;
}