.footer {
	position: relative;
	margin-top: auto;
	padding: (32 / 16) + rem 0 (31 / 16) + rem;
	background-color: #fff;
	@include mlg() {
		// padding-bottom: 0;
		padding-top: 70px;
	}
}
.footer__menu {
	width: 100%;
	margin-bottom: (10 / 16) + rem;
	margin-left: auto;
	margin-right: auto;
	@include lg() {
		margin-left: 0;
		margin-right: (150 / 16) + rem;
		width: auto;
		margin-bottom: 0;
	}
}
.footer__logo {
	width: (270 / 16) + rem;
	position: absolute;
	left: 50%;
	bottom: 100%;
	transform: translate(-50%, 50%);
	&:hover {
		transform: translate(-50%, 50%);
	}
	@include lg() {
		bottom: 0;
		top: auto;
		transform: translate(-50%, 0);
		&:hover {
			transform: translate(-50%, 0);
		}
	}
}
.footer__copy {
	@include lg() {
		margin-left: (150 / 16) + rem;
	}
}
