.form-control {
	height: auto;
	min-height: auto;
	padding: (12 / 16) + rem (10 / 16) + rem (12 / 16) + rem;
	border: 1px solid rgb(202, 210, 215);
	
	line-height: 1;
	color: #383d3e;

	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	&:hover, &:focus {
		box-shadow: 0 0 0 0.2rem rgba(#f31264,.25);
		border-color: #f31264;
	}
	&.is-invalid {
		border-color: #f31264;
	}
}

.invalid-feedback {
	color: #f31264;
}