.form {
	background-color: #fff;
	border-radius: 8px;
}
.form__title {
	padding: 1rem (42 / 16) + rem;
	border-bottom: 1px solid #e4f0f7;
	font-size: (25 / 16) + rem;
	color: #383d3e;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
	@include mmd() {
		padding: 1rem (20 / 16) + rem;
	}
}
.form__body {
	padding: (25 / 16) + rem (42 / 16) + rem 10px;
	@include mmd() {
		padding: (20 / 16) + rem (20 / 16) + rem 10px;
	}
}
.form__reg-link {
	// margin: 5px 0;
}

.form__footer {
	padding: (30 / 16) + rem (45 / 16) + rem;
	@include mmd() {
		padding: 0 15px (20 / 16) + rem;
	}
}
.form__footer-column {
	margin: 5px 0;
}

.form__title-sub {
	font-size: (20 / 16) + rem;
	color: #383d3e;
	font-weight: 700;
}

.form__title-date {
	font-size: (14 / 16) + rem;
	color: #7e8b8f;
	display: block;
	margin-top: 5px;
}

.form__content {
	padding: (20 / 16) + rem (42 / 16) + rem;
	@include mmd() {
		padding: (20 / 16) + rem;
	}
}