// .form-control-select {
// 	position: relative;
// 	z-index: 1;
// 	&:hover, &:focus {
// 		outline: none;
// 		box-shadow: none;
// 		border-color: #d6d9e5;
// 	}
// 	select {
// 		border: 1.5px solid #d6d9e5;
// 		width: 100%;
// 		padding: 17px 30px;
// 		height: auto;
// 		outline: 0;


// 		font-size: 16px;
// 		line-height: 1;
// 		color: #aeb1b9;
// 		font-weight: 400;

// 		border-radius: 5px;
// 		background-color: #fff;

// 		cursor: pointer;


// 		-webkit-user-select: none;
// 		-moz-user-select: -moz-none;
// 		-ms-user-select: none;
// 		    user-select: none;

// 		-webkit-appearance: none;
// 		-moz-appearance: radio-container;
// 		    appearance: none;
// 	    @include mlg() {
// 	    	padding: 37px 60px 36px 35px;
// 			font-size: 32px;
// 	    }
// 	    @include msm() {
// 	    	font-size: 16px;
// 	    	padding: 17px 30px;
// 	    }
// 		&.error {
// 			font-size: 16px;
// 			line-height: 1;
// 			color: #aeb1b9;
// 			font-weight: 400;
// 			border-color: #dc342d;
// 			@include mlg() {
// 				font-size: 32px;
// 			}
// 			@include msm() {
// 				font-size: 16px;
// 			}
// 			& + .svg-icon {
// 				color: #dc342d;
// 			}
// 		}
// 	}
// 	.svg-icon {
// 		position: absolute;
// 		top: 50%;
// 		right: 25px;
// 		margin-top: -7px;

// 		font-size: 15px;
// 		color: #afabba;
// 		@include mlg() {
// 			font-size: 20px;
// 		}
// 		@include msm() {
// 			font-size: 15px;
// 		}
// 	}
// 	.error {
// 		bottom: auto;
// 		top: 100%;
// 	}
// }