.front-banner {
	position: relative;
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-size: cover;
	min-height: 300px;
	border-bottom: 5px solid #eaeeef;
	&:after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;
		border-bottom: 5px solid rgba(#000, .102);
		width: 100%;
	}
	@include lg() {
		min-height: 596px;
	}
}