.good-preview {
	display: inline-block;
	margin-bottom: (23 / 16) + rem;
	max-width: 270px;

	text-align: left;

	border-radius: 15px;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	transition: linear .2s;
	&:hover, &:focus {
		text-decoration: none;
		box-shadow: 0 3px 6px rgba(#000, .1);
	}
}
.good-preview__img-wrap {
	height: 175px;
	padding: 10px 20px;
}
.good-preview__img {
	// height: 175px;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.good-preview__content {
	line-height: 1.2;
	padding: (10 / 16) + rem (25 / 16) + rem (25 / 16) + rem;
	@include lg() {
		padding: (10 / 16) + rem (34 / 16) + rem (25 / 16) + rem;
	}

}
.good-preview__title {
	font-size: (16 / 16) + rem;
	color: rgb(53, 52, 52);
	line-height: 1.2;
}

.good-preview__price {
	font-size: (21 / 16) + rem;
	color: rgb(0, 0, 0);
	font-weight: 700;
	margin: (20 / 16) + rem 0;
}
.good-preview__button {
	width: 100%;
}