.good-card {

}
.good-card__row {

}
.good-card__column {
	margin-bottom: 20px;
}
.good-card__title {
	margin-bottom: (40 / 16) + rem;
}
.good-card__item {
	margin-bottom: (20 / 16) + rem;
	
	font-size: 1rem;
	color: #7e8b8f;
	line-height: 1.8;
	@include lg() {
		margin-bottom: (40 / 16) + rem;
	}
	&_title {
		line-height: 1.2;
	}
}
.good-card__img-wrap {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 460px;
	padding: 20px;
	@include md() {
		width: 460px;
		height: 460px;
		padding: 80px 50px;
	}
}
.good-card__img {
	object-fit:cover;
	max-height: 100%;
	// @include md() {
	// 	width: 460px;
	// 	height: 460px;
	// }
}
.good-card__price {
	font-size: (21 / 16) + rem;
	color: rgb(0, 0, 0);
	font-weight: 700;
}