.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background-color: #fff;
	border-bottom: 2px solid #c0e5ef;
}
.header__row {
	position: relative;
	padding: (21 / 16) + rem 0 (20 / 16) + rem (262 / 16) + rem;
	@media only screen and (max-width: 415px) {
		padding-left: (160 / 16) + rem;
		padding-top: (17 / 16) + rem;
		padding-bottom: (16 / 16) + rem;
	}
	@media only screen and (max-width: 380px) {
		padding-left: (140 / 16) + rem;
		padding-top: (17 / 16) + rem;
		padding-bottom: (16 / 16) + rem;
	}
}
.header__logo {
	position: absolute;
	top: 0;
	left: 15px;
	width: (215 / 16) + rem;
	@media only screen and (max-width: 415px) {
		width: (150 / 16) + rem;
		left: 0;
	}
	@media only screen and (max-width: 380px) {
		width: 130px;
		left: 0;
	}
}
.header__menu-open {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1.5rem;
	color: #f31563;
}

.header__user-option {
	padding-left: 0;
	padding-right: 0;
	@include sm() {
		padding-left: 15px;
		padding-right: 15px;
	}
}