.header-link {
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;

	color: #FFFFFF;
	&:hover, &:focus {
		text-decoration: none;
		color: #fff;
	}
	.svg-icon {
		vertical-align: middle;
		font-size: 17px;
		color: #fff;
		margin-right: 8px;
	}
	&__in {
		display: inline-block;
		vertical-align: middle;
		padding-top: 1px;
	}
}