.link {
	display: inline-block;
	margin: 5px 0;

	font-size: 14px;
	&_blue {
		color: #336fc9;
		&:hover {
			color: #f31264;
		}
	}
	&_grey_light {
		color: #c6c9ce;
		&:hover {
			color: #f31264;
		}
	}
	&_grey_dirty {
		color: #bbb1b5;
		&:hover {
			color: #f31264;
		}
	}
	&_decoration_solid {
		text-decoration: underline;
		&:hover {
			// text-decoration: none;
		}
	}
	&_size_small {
		font-size: 12px;
	}
	&_size_normal {
		font-size: 1rem;
	}
}