.link-back {
	color: #7e8b8f;
	text-decoration: underline;
	position: relative;
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 13px;
		height: 8px;
		background-image: url('../images/left-arrow.svg');
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 13px 8px;
		margin-right: 15px;
	}
	&:hover, &:focus {
		text-decoration: none;
		// color: #f31264;
	}
}