.menu-nav {
	padding: 0;
	margin: 0;
	list-style: none;

	@include lg() {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		margin-bottom: 10px;
		@include lg() {
			margin: 0;
			padding: 0 20px;
		}
		a {
			display: block;

			font-size: 1rem;
			line-height: 1.2;
			font-weight: 500;
			color: #302929;
			transition: linear .1s;
			@include mlg() {
				font-size: 1.5rem;
			}
			&.active {
				color: #f31563;
			}
			&:hover, &:focus {
				text-decoration: none;
				color: #f31563;
			}
		}
	}
	&:hover {
		li {
			a {
				&.active {
					color: #000;
					&:hover, &:focus {
						color: #f31563;
					}
				}
			}
		}
	}
	&_style_footer {
		@include mlg() {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		li {
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 0;
			@include lg() {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}