.menu {
	@include mlg() {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;

		z-index: 2;

		display: flex;
		flex-direction: column;


		opacity: 0;
		visibility: hidden;
		transition: linear .3s;
		background-color: rgba(#000, .3);
		&.visible {
			opacity: 1;
			visibility: visible;
			left: 0;
		}
	}
}
.menu__in {
	@include mlg() {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		height: 100%;
		max-width: 280px;
		// border-right: 1px solid #000;
		padding: 60px 0 20px;
		
		background-color: #fff;
	}
}
.menu__scroll {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow-y: auto;
	padding: 0 15px;
}
.menu__close {
	color: #f31563;
	padding: 10px;
	@include mlg() {
		position: absolute;
		top: 0;
		right: 5px;
		font-size: 2rem;
	}
}
// .menu__nav {
// 	padding: 0;
// 	margin: 0;
// 	list-style: none;

// 	@include lg() {
// 		display: flex;
// 		flex-wrap: wrap;
// 	}
// 	li {
// 		margin-bottom: 10px;
// 		@include lg() {
// 			margin: 0;
// 			padding: 0 20px;
// 		}
// 		a {
// 			display: block;

// 			font-size: 1rem;
// 			line-height: 1.2;
// 			font-weight: 500;
// 			color: #302929;
// 			transition: linear .1s;
// 			@include mlg() {
// 				font-size: 1.5rem;
// 			}
// 			&.active {
// 				color: #d11c61;
// 			}
// 			&:hover, &:focus {
// 				text-decoration: none;
// 				color: #d11c61;
// 			}
// 		}
// 	}
// 	&:hover {
// 		li {
// 			a {
// 				&.active {
// 					color: #000;
// 					&:hover, &:focus {
// 						color: #d11c61;
// 					}
// 				}
// 			}
// 		}
// 	}
// }