.modal {
	.modal__quiz {
		position: relative;
		padding-top: 50px;
		z-index: 99999;
		display: none;
		margin-top: 20px;
		margin-bottom: 20px;
		@include msm() {
			padding-left: 20px;
			padding-right: 20px;
		}
		.quiz__step-title {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin-bottom: 40px;
			}
		}
	}
	.modal-dialog {
		max-width: 700px;
		@include mmd() {
			width: 90%;
		}
	}
	&_thanks {
		img {
			max-width: 300px;
		}
	}
	&_polytic {
		.modal-dialog {
			max-width: none;
		}
	}
	&_license {
		.modal-dialog {
			width: 100%;
			max-width: none;
		}
		img {
			width: 100%;
		}
	}
	&.show {
		.modal__quiz {
			display: flex;
		}
	}
}