.order-list {
	margin: 10px 0;
	list-style: none;
	padding-left: 0;
	@include mmd() {
		padding-left: 0;
	}
	li {
		margin-bottom: 5px;
		&:last-child {
			margin-top: 10px;
		}
	}
	&_padding_none {
	}
	&_style_two {
		padding: 0 0 15px;
		@include mmd() {
			padding: 0 0 15px;
		}
		@include md() {
			padding: 0 0 20px;
			border-bottom: 1px solid #e4f0f7;
		}
	}
}
.order-list__title {
	display: inline-block;
	font-weight: 700;
	color: #383d3e;
}
.order-list__value {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
}
.order-list__quantity {
	display: inline-block;
	font-weight: 700;
	color: #383d3e;

}