.pagination  {
	justify-content: center;
	margin: 20px 0;
	&:hover {
		.page-item {
			&.active {
				.page-link {
					background-color: #fff;
					border-color: #dee2e6;
					color: #f31563;
				}
			}
		}
		.page-link {
			&:hover, &:focus {
				background-color: #f31563;
				border-color: #f31563;
				color: #fff;
			}
		}
	}
}
.page-item {
	&.active {
		.page-link {
			background-color: #f31563;
			border-color: #f31563;
		}
	}
}
.page-link {
	color: #f31563;
	&:hover, &:focus {
		z-index: auto;
		color: #f31563;
		background-color: #fff;
	}
}