.quantity {

}
.quantity__form-group {
	margin-bottom: (40 / 16) + rem;
	&:last-child {
		margin-bottom: 0;
	}
}
.quantity__button {
	width: 45px;
	height: 45px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #c3ccce;
	padding: 0;

	font-size: 19px;
	line-height: 1;

	color: #7e8b8f;

	border-radius: 5px;
	background-color: transparent;
}
.quantity__input {
	display: inline-block;
	vertical-align: middle;
	max-width: 90px;
	border: 1px solid #c4cbcd;
	padding: 10px;

	font-size: 19px;
	line-height: 1;
	color: #000;
	font-family: $font;
	text-align: center;

	background-color: #c3ccce;
	border-radius: 5px;
	-moz-appearance: textfield;
	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	-webkit-appearance: none;
	@include iph() {
		font-size: 19px;
		line-height: 1;
		color: #000;
	}
}
.quantity__button {

}
.quantity__label {
	font-size: 14px;
	color: #7e8b8f;
	display: inline-block;
	vertical-align: middle;
	margin: (10 / 16) + rem 0 (10 / 16) + rem (20 / 16) + rem;
	@include msm() {
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}
}