.radiobox {
	display: inline-flex;
	flex-wrap: nowrap;

}
.radiobox__input {
	&:checked {
		& + .radiobox__pseudo-check {
			opacity: 1;
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.radiobox__pseudo-check {
	flex-shrink: 0;
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;

	border-radius: 50%;
	border: 1px solid #f31563;

	opacity: .5;
	transition: linear .1s;
	box-shadow: 1px 2px 4px 0 rgba(#000, .4);
	&:after {
		content: '';

		position: absolute;
		top: 3px;
		left: 3px;
		width: 12px;
		height: 12px;

		background-color: #f31563;
		border-radius: 50%;
		transition: linear .1s;
		opacity: 0;
		visibility: hidden;
	}
}
.radiobox__label {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}