.regular-table {
	td {
		@include mmd() {
			position: relative;
			padding: (15 / 16) + rem 15px !important;
			&:after {
				display: block !important;
			}
		}
	}
	@include mmd() {
		tr {
			&:last-child {
				td {
					&:before {
						display: inline-block;
					}
				}
			}
		}
	}
}