.search-form {
	padding-left: 0;
	padding-right: 0;
	.select2-container {
	}
	.select2-selection {
		background-color: transparent;
		border: 2px solid #2C6F8F;
		border-radius: 0;
		height: auto;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		font-style: italic;
		font-size: 12px;
		line-height: 1;

		color: #B3B3B3;
	}
	.select2-selection__rendered {
		padding-top: 13px;
		padding-bottom: 12px;
		padding-left: 15px;
	}
	.select2-selection__arrow {
		b {
			border-top-color: #C0C0BF !important;
		}
	}
	.select2-dropdown {
		background: #FFFFFF;
		overflow: hidden;
		box-shadow: 0px 2px 16px rgba(33, 43, 54, 0.08), 0px 0px 0px rgba(6, 44, 82, 0.1) !important;
		border-radius: 3px !important;
		border: none;
		margin-top: 10px;
	}
	.select2-search {
		padding: 0;
		line-height: 1;
		background: #FFFFFF;
		box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
	}
	.select2-search__field {
		border: none !important;
		padding: 24px 15px;

		font-family: Arial;
		font-style: italic;
		font-weight: normal;
		font-size: 12px;
		line-height: 1;

		color: #212B36;
	}
	.select2-results__options {
		max-height: 140px !important;
		height: auto !important;
		padding-top: 8px;
	}
	.select2-results__option {
		padding: 9px 15px;
		font-size: 14px;
		line-height: 22px;

		color: #212B36;
		&:hover {
			// color: #
		}

	}
	.select2-container--default .select2-results__option[aria-selected=true] {
		background-color: transparent;
		color: #212B36;
	}
	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		background-color: transparent;
		color: #b2b8bf;

	}
}
.search-form__select {
	& + .select2 {
		width: 187px !important;
	}
}
.search-form__in {
	font-size: 0;
}
.search-form__input {
	display: inline-block;
	vertical-align: top;
	border: 2px solid #2C6F8F;
	background-color: transparent;
	padding: 12px 16px 11px;
	width: 342px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1;

	color: #B3B3B3;

	@include iph() {
		font-weight: 400;
		font-size: 12px;
		line-height: 1;

		color: #B3B3B3;
	}
	& ~ .select2 {
		.select2-selection {
			border-left: none;
		}
	}
}

.search-form__submit {
	position: relative;
	display: inline-block;
	vertical-align: top;
	.svg-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		color: #fff;
		font-size: 20px;
	}
}
.search-form__submit-elem {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	width: 55px;
	height: 41px;
	background: rgba(98, 183, 236, 0.42);
}