.section {
	padding: (50 / 16) + rem 0;
	background-color: #fff;
	@include lg() {
		padding: (90 / 16) + rem 0 (80 / 16) + rem;
	}
	&_background_grey {
		background-color: #f1f5f6;
	}
	&_background_grey_dark {
		background-color: #e9eff0;
	}
	&_style_tools {
		padding-top: (80 / 16) + rem;
		padding-bottom: 0;
		background-color: #94e2f3;
		@include lg() {
			padding-top: (80 / 16) + rem;
			padding-bottom: 0;
		}
	}
	&_card {
		padding: (40 / 16) + rem 0;
		@include lg() {
			padding: (40 / 16) + rem 0;
		}
	}
}
.section__description {
	padding: (70 / 16) + rem 0;
}
.section__title {
	// margin-bottom: (70 / 16) + rem;
	margin-bottom: (80 / 16) + rem;
	@include lg() {
	}
}


.section-interesting {
	padding-top: 0;
	@include lg() {
		padding-top: 0;
	}
}
.section-interesting-title {
	border-top: 1px solid #dbe0e1;
	border-bottom: 1px solid #dbe0e1;
	padding: (26 / 16) + rem 0;


	text-align: center;
	color: #7e8b8f;
}
.section__intesresting-title {
	margin-bottom: (40 / 16) + rem;
	@include lg() {
		margin-bottom: (50 / 16) + rem;
	}
}

.section__form {
	max-width: 555px;
	margin-left: auto;
	margin-right: auto;
}
.section__form-basket {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}