.single-select {
	& + .select2 {
		width: 100% !important;
	}
}
.select2 {
	width: auto !important;
	&:hover, &:focus {
		// box-shadow: 0 0 0 0.2rem rgba(#f31264,.25) !important;
		// border-radius: 5px !important;
		outline: none !important;
	}
}
.select2-selection {
	height: auto !important;
	border: 1px solid rgb(202, 210, 215) !important;
	border-radius: 5px !important;
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(#f31264,.25) !important;
		border-color: #f31264 !important;
		outline: none !important;
	}
}
// .select2-container--open {
// 	.select2-selection {
// 		box-shadow: 0 0 0 0.2rem rgba(#f31264,.25) !important;
// 		border-color: #f31264 !important;
// 	}
// }
// .select2-container--focus {
// 	.select2-selection {
// 		box-shadow: 0 0 0 0.2rem rgba(#f31264,.25) !important;
// 		border-color: #f31264 !important;
// 	}
// }
.select2-selection__rendered {
	padding: (15 / 16) + rem (30 / 16) + rem (14 / 16) + rem (10 / 16) + rem !important;
	line-height: 1 !important;
	color: #383d3e !important;
	font-size: 1rem !important;
}
.select2-selection__arrow {
	height: auto !important;
	position: absolute;
	top: 50% !important;
	right: 5px !important;
	transform: translate(0, -50%);
}
.select2-dropdown {
	border: 1px solid rgb(202, 210, 215) !important;
	border-top: none !important;
}

.select2-search__field {
	height: auto !important;
	min-height: auto !important;
	padding: (7 / 16) + rem (10 / 16) + rem (7 / 16) + rem !important;
	border: 1px solid rgb(202, 210, 215) !important;
	
	line-height: 1 !important;
	color: #383d3e !important;

	border-radius: 5px !important;
	background-color: rgb(255, 255, 255) !important;
	&:hover, &:focus {
		// box-shadow: 0 0 0 0.2rem rgba(#f31264,.25) !important;
		// border-color: #f31264 !important;
	}
}

.select2-results__option {
	color: #383d3e;
	&.select2-results__option--highlighted {
		background-color: #f31563 !important;
	}
	&[aria-selected="true"] {
		background-color: rgba(202, 210, 215, .5) !important;
		color: #383d3e !important;
		&:hover {
			background-color: #f31563 !important;
			color: #fff !important;
		}
	}
}