.social {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -11px;
	padding: 0;

	list-style: none;
	li {
		padding-left: 11px;
		padding-right: 11px;
		margin-bottom: 11px;
		@include mxl() {
			padding-left: 5px;
			padding-right: 5px;
			margin-bottom: 5px;
		}
		@include mlg() {
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 20px;
		}
		@include mmd() {
			padding-left: 10px;
			padding-right: 10px;
		}
		@include msm() {
			
		}
	}
	a {
		width: 40px;
		height: 40px;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		color: #fff;
		font-size: 20px;

		border-radius: 50%;
		background-color: #d1d4de;

		transition: ease .2s;
		@include mlg() {
			width: 80px;
			height: 80px;
		}
		@include msm() {
			width: 60px;
			height: 60px;
		}
		&:hover {
			text-decoration: none;
			background-color: #ffdc19;
			color: #212528;

			.svg-icon {
				animation-duration: 1s;
				animation-fill-mode: both;
				animation-name: bounceIn;
				animation-duration: 0.75s;
			}
		}
	}
	.svg-icon {
		// font-size: 14px;
		// transition: ease .1s;
		@include mlg() {
			font-size: 40px;
		}
		@include msm() {
			font-size: 30px;
		}
	}
}