.user-option {
	color: #000;
	font-weight: 300;
}

.user-option__devider {
	padding-left: (10 / 16) + rem;
	padding-right: 1rem;
	font-size: 1rem;
	vertical-align: middle;
	@include mlg() {
		display: none;
		
	}
}