html {
	font-size: 14px;
	@include lg() {
		font-size: 15px;
	}
	@include xl() {
		font-size: $rem-font-size;
	}
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
	&.scroll-hidden {
		overflow: hidden; 
		@include lg() {
			padding-right: 17px;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}
input, textarea {
	&:focus {
		outline: none;
	}
}
button, input[type="submit"] {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}
a {
	text-decoration: none;
	color: inherit;
	&:hover, &:focus {
		color: inherit;
		outline: none;
	}
}




strong {
	color: #383d3e;
}