@mixin xl() {
	@media only screen and(min-width: 1200px) {
		@content;
	}
}

@mixin lg() {
	@media only screen and(min-width: 992px) {
		@content;
	}
}

@mixin md() {
	@media only screen and(min-width: 768px) {
		@content;
	}
}

@mixin sm() {
	@media only screen and(min-width: 576px) {
		@content;
	}
}

@mixin xs() {
	@media only screen and(min-width: 0) {
		@content;
	}
}



@mixin mxl() {
	@media only screen and(max-width: 1199px) {
		@content;
	}
}

@mixin mlg() {
	@media only screen and(max-width: 991px) {
		@content;
	}
}

@mixin mmd() {
	@media only screen and(max-width: 767px) {
		@content;
	}
}

@mixin msm() {
	@media only screen and(max-width: 639px) {
		@content;
	}
}

@mixin customMedia($type, $width) {
	@media only screen and($type: $width) {
		@content;
	}
}