$rem-font-size: 16px;
$font: 'Roboto', sans-serif;
$RobotoSlab: 'Roboto Slab', sans-serif;

// values for body tag
$document-font-family: $font;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #7e8b8f;
$document-line-height: 1.6;
$document-background: #f2f5f6;

