<footer class="footer">
	<div class="footer__container container-fluid">
		<div class="footer__row row justify-content-center justify-content-lg-between align-items-center">
			<ul class="footer__menu menu-nav menu-nav_style_footer">
				<li>
					<a class="active" href="#">Магазин</a>
				</li>
				<li>
					<a href="#">Оплата</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
			<a class="footer__logo logo column" href="#">
				<img src="images/logo.png" alt="">
			</a>
			<div class="footer__copy copy column">
				LEGOHIM ( 2019 ) - Химические Вещества
			</div>
		</div>
	</div>
</footer>