<header class="header" data-fixed="true" data-target="content">
	<div class="header__container container-fluid">
		<div class="header__row row align-items-center">
			<a class="header__logo logo" href="#">
				<img src="images/logo.png" alt="">
			</a>
			<div class="menu" id="menu">
				<div class="menu__in">
					<button class="menu__close button-clr d-lg-none" type="button" data-toggle="menuToggle" data-target="menu">
						<svg class="svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
						</svg>
					</button>
					<div class="menu__scroll">
						<ul class="menu-nav">
							<li>
								<a class="active" href="#">Магазин</a>
							</li>
							<li>
								<a href="#">Оплата</a>
							</li>
							<li>
								<a href="#">Контакты</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="header__user-option user-option ml-auto column">
				<a class="button-option" href="http://lego.credo-studio.com/profile/logout">
					<span class="button-option__icon">
						<svg class="button-option__svg svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#logout"></use>
						</svg>
					</span>
				</a>
				<a class="button-option" href="#">
					<span class="button-option__icon">
						<svg class="button-option__svg svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#user"></use>
						</svg>
					</span>
				</a>
				<a class="button-option" href="#">
					<span class="button-option__icon d-lg-none">
						<svg class="button-option__svg svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#shopping-cart-fill"></use>
						</svg>
					</span>
					<span class="button-option__button button button_red d-none d-lg-inline-block">
						<span>Корзина</span>
					</span>
				</a>
			</div>
			<button class="header__menu-open button-clr d-lg-none" type="button" data-toggle="menuToggle" data-target="menu">
				<svg class="svg-icon">
					<use xlink:href="images/svg-sprite/svgSprite.svg#menu"></use>
				</svg>
			</button>
		</div>
	</div>
</header>