<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/svg4everybody.min.js"></script>
<script src="js/libs/select2.min.js"></script>
<script src="js/main.js"></script>

